body {
    color: #333;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
/* HEADER */
header {
 background-color: #f6f5f0;
}
header .inner {
    position: relative;    
    width: 1100px;
    height: 120px;
    margin: 0 auto;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu {
    font-family: Arial,sans-serif;
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    padding: 11px 16px;
    display: block;
    font-size: 13px;
    color: #656565;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    position: relative;
    height: 34px;
}
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color: #EA9926;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}