body {
    color: #333;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
/* HEADER */
header {
 background-color: #f6f5f0;
 position: fixed;
 top: 0;
 width: 100%;
 border-bottom: 1px solid #c8c8c8;
}
header > .inner {
    height: 120px;
}
header .logo {
    height: 75px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}
header .sub-menu ul.menu {
    font-family: Arial,sans-serif;
    display: flex;
}
header .sub-menu ul.menu li {
    position: relative;
}
header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    padding: 11px 16px;
    display: block;
    font-size: 13px;
    color: #656565;
}
header .sub-menu ul.menu li a:hover {
    color: #000;
}
header .sub-menu .search {
    position: relative;
    height: 34px;
}
header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    color: #777;
    font-size: 12px;
    transition: width .4s;
}
header .sub-menu .search input:focus {
    width: 190px;
    border-color: #EA9926;
}
header .sub-menu .search .material-icons {
    height: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    transition: .4s;
}
header .sub-menu .search.focused .material-icons {
    opacity: 0;
}
header .main-menu {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
}
header .main-menu .item .item__name {
    padding: 10px 20px 34px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
header .main-menu .item:hover .item__name {
    background-color: #2c2a29;
    color: #EA9926;
    border-radius: 6px 6px 0 0;
}
header .main-menu .item .item__contents {
    background-color: orange;
    width: 100%;
    position: fixed;
    left: 0;
    display: none;
}
header .main-menu .item:hover .item__contents {
    display: block;
}
header .main-menu .item .item__contents .contents__menu {
    background-color: #2c2a29;
}
header .main-menu .item .item__contents .contents__menu > ul {
    padding: 20px 0;
    display: flex;
}
header .main-menu .item .item__contents .contents__menu > ul > li {
    width: 220px;
}
header .main-menu .item .item__contents .contents__menu > ul > li h4 {
    padding: 3px 0 12px 0;
    font-size: 14px;
    color: #fff;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;
}
header .main-menu .item .item__contents .contents__menu > ul > li ul li:hover{
    color: #EA9926;
}
header .main-menu .item .item__contents .contents__texture {
    padding: 26px 0;
    font-size: 12px;
    background-image: url("../images/main_menu_pattern.jpg");
}
header .main-menu .item .item__contents .contents__texture h4 {
    color: #999;
    font-weight: 900;
}
header .main-menu .item .item__contents .contents__texture p {
    color: #EA9926;
    margin: 4px 0 14px;
}
/* BADGES */
header .badges {
    position: absolute;
    top: 132px;
    right: 12px;
}
header .badges .badge {
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0,0,0,.15);
    cursor: pointer;
    overflow: hidden;
}